<!doctype>
<html ng-app="CourseRater">
<head>
    <title>UofT Course Rater</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/ngProgress.css">
    <link rel="stylesheet" href="css/toaster.css">
    <link rel="stylesheet" href="css/mycss.css">

    <script src="js/angular.min.js" type="text/javascript"></script>
    <script src="js/angular-resource.min.js" type="text/javascript"></script>
    <script src="js/angular-animate.min.js" type="text/javascript"></script>
    <script src="js/ngProgress.min.js" type="text/javascript"></script>
    <script src="js/toaster.js" type="text/javascript"></script>
    <script src="app/app.js" type="text/javascript"></script>
    <script src="app/courses_client.js" type="text/javascript"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script>var user = <%- JSON.stringify(user) %>; angular.module('PreloadedData', []) .constant('User', user);</script>

    <div class="header-courserater" style="position:relative;">
      <div id="top-buttons">
      <% if(login){ %>
      <button onclick="location.href='/profile';" class="button-material"><%= user.local.email %></button>
      <button onclick="location.href='/logout';" class="button-material">Logout</button>
      <% } else{ %>
        <button onclick="location.href='/signup';" class="button-material">Signup</button>
        <button onclick="location.href='/login';" class="button-material">Login</button>
        <% } %>
      </div>

        <h1 class="header-title">UofT Course Rater</h1>

    </div>
</head>

<body class="courserater-body" ng-cloak>
    <div class="container" ng-controller="CoursesCtrl">
        <form name="Codenx" novalidate>
            <table class="table" style="border-collapse: separate; border-spacing: 0px 10px;">
                <thead >
                    <tr class="card">
                        <th style="width:20%; padding-left:30px;">Name</th>
                        <th style="width:20%">Instructors</th>
                        <th style="width:20%">Rating</th>
                        <th style="width:20%">Number of Ratings</th>
                        <th style="width:20%"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr><input class="rater-input" ng-model="search_param" required="" placeholder="Search for a course" search></tr>
                </tbody>
            </table>

            <div ng-repeat="result in results" ng-click="rate(result._id)" style="margin-bottom: 20px;" class="card">
                <div ng-click="isCollapsed = !isCollapsed;"  style="cursor: pointer; padding-bottom:10px;">
                    <div class="course-card">{{result.name}}</div>
                    <div class="course-card" >
                        <table>
                            <tr ng-repeat="prof in result.instructors track by $index">
                                <td>
                                    {{prof}}
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="course-card">{{result.rating}}</div>
                    <div class="course-card">{{result.numberOfRatings}}</div>
                  </div>

                <div ng-show="isCollapsed" class="card-bottom" >
                  <% if(login){ %>
                  <div class="course-card" style="width: 200px;"><input class="form-control"  ng-model="result.new_rating" required="" placeholder="Update rating"></input></div>
                  <div class="course-card" style="width: 100px;"><button class="btn btn-danger" ng-click="update(course, search_param); course.rating = rating_update(result.new_rating, result.rating, result.numberOfRatings); course.numberOfRatings = (course.numberOfRatings + 1);" ng-if="result._id" type="submit">Submit</button></div>
                  <div>{{user.local.email}}</div>
                  <% } else{ %>
                    <div>Login to Rate</div>
                    <% } %>
                </div>
            </div>
    </div>

    <div data-loading></div>
    <toaster-container toaster-options="{'time-out': 3000, 'close-button':true, 'animation-class': 'toast-top-center'}"></toaster-container>
</body>
</html>
